# --- AI & LangChain ---
langchain>=1.2.9
langchain-core>=0.3.18
langchain-community>=0.3.18
langchain-openai>=0.3.0
langgraph>=1.0.0
langchain-groq>=0.2.0
langchain_text_splitters
langchain_chroma
langchain-huggingface
# --- Vector Store & Embeddings ---
chromadb>=1.4.1
sentence-transformers>=3.0.0
onnxruntime>=1.24.1
pypdf>=4.2.0

# --- Google Gmail API ---
google-api-python-client
google-auth-oauthlib
google-auth-httplib2

# --- Utilities ---
python-dotenv>=1.0.1
python-magic>=0.4.27
openai>=2.16.0
ipykernel>=6.29.0